/* header */

.header{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    /* để hiện header này nằm trên thẻ section one */
    z-index: 9999;
}

.header .inner-main{
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    display: flex;
    border-radius: 45px;
    justify-content: space-between;
}

.header .inner-main .inner-logo img{
    height:30px;
    width: auto;
}

.header .inner-main .inner-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-main .inner-menu ul li{
    list-style-type: none;
    margin-left: 40px;
    font-size: 15px;
}

.header .inner-main .inner-menu ul li a{
    display: block;
    font-weight: 500;
    font-size: 13px;
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header .inner-main .inner-menu ul li a:hover{
    color: var(--color-one);
}

.header .inner-main .inner-menu ul li a.active{
    color: var(--color-one);
}
/*end header */

/* section one */
.section-one{
    background-image: url(/project_2/asset/image/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one .inner-content {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.section-one .inner-content .inner-title{
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
}

.section-one .inner-content .inner-desc{
    color: #fff;
    margin-bottom: 30px;
}

.section-one .inner-content .button{
    background-color: var(--color-one);
    font-size: 13px;
    color: #fff;
    border: 0;
    padding: 13px;
    border-radius: 45px;
}

.section-one .inner-content .button:hover{
    background-color: var(--color-two);
}

/*end section one */

/* section two */

.section-two{
    
}

.section-two .inner-box{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -210px;
}

.section-two .inner-box .inner-icon{
    background-color: var(--color-two);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two .inner-box .inner-icon:hover{
    background-color: var(--color-one);
}

.section-two .inner-box .inner-icon img{
    width: 60px;
    height: auto;
    object-fit: cover;
}

.section-two .inner-box .inner-title{
    margin-top: 15px;
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
}

.section-two .inner-box .inner-desc{
    text-align: center;
    font-size: 14px;
}
/*end section two */

/* section three */
.section-three .inner-box{
    margin-top: 130px;
    margin-top: 130px;
    display: flex;;
    justify-content: center;
    align-items: center;
}
.section-three .inner-box .inner-image{
    text-align: center;
}

.section-three .inner-box .inner-content .inner-title{
    font-size: 23px;
    color: #000;
    font-weight: 500;
    margin-bottom:30px;
}

.section-three .inner-box .inner-content .inner-desc{
    text-align: left;
}
/*end section three */

/* section four */
.section-four{
    background-image: url(/project_2/asset/image/work-process-bg.png);
    padding: 20px;
}

.section-four .inner-box-1{
    margin: 80px auto;

    text-align: center;
    max-width: 800px;
}

.section-four .inner-box-1 .inner-title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.section-four .inner-box-1 .inner-desc{
    color: white;
}

.section-four .inner-box-2 .inner-box-mini{
    background:#fff;
    padding: 26px;
    border-radius: 15px;
    text-align: center;
}

.section-four .inner-box-2 .inner-box-mini .inner-icon{
    margin-bottom: 20px;
}

.section-four .inner-box-2 .inner-box-mini .inner-title{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

/*end section four */